/*GERAL*/

body, ul, li, p, a {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'proxima-nova', Arial, sans-serif, Helvetica;
   
}

a {
    text-decoration: none;
}

/*CABEÇALHO*/

header {
    display: flex;
    justify-content: center;
    background-color: #FBFBFB;
    height: 80px;
    margin-bottom: 0.5px;
    -webkit-box-shadow: 0px -2px 183px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 183px 10px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 183px 10px rgba(0,0,0,0.75);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    position: relative;
    padding: 10px;
    font-weight: 700;
}

.itemCabecalho {
    align-items: center;
    display: flex;
    flex-direction: row;
    align-self: stretch;
}

.informacao{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.infoCircle{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.comoFunciona {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    color: #18ACC4;
    text-decoration: none;
}

.hreto {
    align-self: stretch;
    border: 1px solid #e8eaee;
    height: auto;
    width: auto;
    box-sizing: initial;
    overflow: visible;
    margin-right: 10px;
}



.cabecaConteudo {
    align-self: center;
    position: relative;
    display: flex;
    flex-direction: row;
}

.whatsappHeader {
    color: #0FA866;
    height: 20px;
    width: 20px;
}

.contatoWhats {
    color: #18ACC4;
    text-decoration: none;
    margin: 0 0 0 8px;
}

.linkWhats {
    align-items: center;
    color: #0FA866;
    display: flex;
    padding: 8px;
}

.whatsNumberColor {
    display: block;
    margin-bottom: 4px;
}

.wrap {
    flex-wrap: wrap;
}

.tellContato {
    max-width: 120px;
}

.envieMsg {
    color: #18ACC4;
    font-size: 10px;
}

.logoQueroBolsa {
    width: 40%;
}

.itemLogin {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nomeUser {
    text-decoration: none;
    color: #18ACC4;
    margin-right: 5px;
}

.userIcon {
    color: #18ACC4;
}

.iconSvg {
    font-size: 20px;
}

.msgLigue {
    font-size: 13px;
}

/*Menu Navegação*/

.menu {
    display: flex;
    justify-content: center;
    background-color: #18ACC4;
    height: 40px;
}

.containerMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    position: relative;
    padding: '10px';
}

.itemMenu {
    display: flex;
    flex-direction: row;
}

.itemMenu li a {
    color: #ffffff;
    
    padding: 11px 12px 11px 12px;
    font-weight: 700;
}

.bolsaMenu{
    background-color: #007A8D;
}

/*corpo da página*/


.corpoPagina {
    display: flex;
    justify-content: center;
    background-color: #FBFBFB;
    height: 700px;
}

.containerPagina {
    display: flex;
    flex-direction: column;
    width: 1200px;
    position: relative;
    padding: '10px';
}

.itemHome {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.itemHome li {
    padding: 10px 10px 10px 0px;
}

.homeConta {
    color: #18ACC4;
    font-size: 13px;
    font-weight: 550;
}

.bolsaColor{
    color: #1F2D30;
    font-size: 13px;
    font-weight: 550;
}

.itemHome li+li:before {
    padding: 2px;
    color: black;
    content: "/\00a0";
}

.tituloBolsa {
    padding: 0 0 25px 0px;
    color: #1F2D30;
}

.botaoSemestre {
    display: flex;
    justify-content: flex-end;
}

.botao {
    background-color: white; 
    border: 1px solid #007A8D;
    color: #007A8D;
    padding: 15px 32px;
   
   
    
    font-size: 16px;
    font-weight: 700;
    
}



.botao:focus{
    background: #007A8D;
    color: white;
    border: 1px solid #007A8D;
}

.btnRadius{
    border-radius: 5px 0 0 5px;
}

.btnFirstSemestre{
    border-radius: 0 5px 5px 0; 
}

/*CARD*/


.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.card{
    flex: 1 1 200px;
    margin: 10px;
    width: 25%;
}

.itemsCard{
  
    align-items: center;
}


.imgAddBolsa{
    width: 20%;
    display: block;
}

/*CONTATO*/

.contato {
    background-color: #007A8D;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.footerItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 1200px;
    position: relative;
    padding: 10px;
    font-weight: 550;
}

.linkContato {
    align-items: center;
    color: #ffffff;
    display: flex;
    padding: 8px;
}

.iconFooter {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: bottom;
    font-size: 35px;
}

.infoIcon {
    width: 35px;
}

.textContato {
    margin: 0 0 0 8px;
}

.colorTextContato {
    display: block;
    color: #ffffff;
}

.contatoItem {
    display: flex;
    flex-direction: row;
}

.msgRodape {
    background-color: #18ACC4;
    display: flex;
    
    justify-content: center;
    color: #ffffff;
    padding: 50px;
}