/*GERAL*/

body, ul, li, p, a {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

/*CABEÇALHO*/

.cabecalho {
    display: flex;
    justify-content: center;
    background-color: #FBFBFB;
    min-height: 80px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    position: relative;
    padding: 10px;
}

.itemCabecalho {
    align-items: center;
    display: flex;
    flex-direction: row;
    align-self: stretch;
}

.comoFunciona {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    color: #18ACC4;
    text-decoration: none;
}

.hreto {
    align-self: stretch;
    border: 1px solid #e8eaee;
    height: auto;
    width: auto;
    box-sizing: initial;
    overflow: visible;
    margin-right: 10px;
}

.cabecaConteudo {
    align-self: center;
    position: relative;
    display: flex;
    flex-direction: row;
}

.whatsappHeader {
    color: #0FA866;
    height: 20px;
    width: 20px;
}

.contatoWhats {
    color: #18ACC4;
    text-decoration: none;
    margin: 0 0 0 8px;
}
.linkWhats{
    align-items: center;
    color: #0FA866;
    display: flex;
    padding: 8px;
}

.whatsNumberColor{
    display: block;
    margin-bottom: 4px;
}

.wrap {
    flex-wrap: wrap;
}

.tellContato {
    max-width: 120px;
}

.envieMsg {
    color: #18ACC4;
    font-size: 10px;
}

.logoQueroBolsa {
    width: 40%;
}

.itemLogin {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nomeUser {
    text-decoration: none;
    color: #18ACC4;
    margin-right: 5px;
}

.userIcon {
    color: #18ACC4;
}

.iconSvg{
    font-size: 20px;
 }

/*Menu Navegação*/

.menu {
    display: flex;
    justify-content: center;
    background-color: #18ACC4;
    height: 30px;
}

.containerMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    position: relative;
    padding: '10px';
}

.itemMenu {
    display: flex;
    flex-direction: row;
}

.itemMenu li a {
    color: #ffffff;
    margin-right: 10px;
    padding: 10px 10px 10px 0px;
}

/*corpo da página*/

.corpoPagina {
    display: flex;
    justify-content: center;
    background-color: #FBFBFB;
    height: 700px;
}

.containerPagina {
    display: flex;
    flex-direction: column;
    width: 1200px;
    position: relative;
    padding: '10px';
}

.itemHome {
    display: flex;
    flex-direction: row;
}

.itemHome li {
    padding: 10px 10px 10px 0px;
}

.itemHome li a {
    color: #18ACC4;
}

.itemHome li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

.tituloBolsa {
    padding: 0 0 25px 0px;
}

.botaoSemestre {
    display: flex;
    justify-content: flex-end;
}

.botao{
    background-color: #ffffff;
    color: #18ACC4;
    padding: 10px;
    box-shadow: #000000;
}

/*CARD*/

/* Float four columns side by side */

.column {
    float: left;
    width: 20%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */

.row {
    padding: 30px 0 10px 0;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */

.card {
    
    box-shadow:  1px 1px 0px 1px rgba(0, 0, 0, 0.2);
    /* this adds the "card" effect */
    padding: 100px 16px;
    text-align: center;
    background-color: #FBFBFB;
    
}

.plus-circle{
    width: 30%;
}


/*CONTATO*/

.contato{
    background-color: #007A8D;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.footerItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 1200px;
    position: relative;
    padding: 10px;
}


.linkContato{
    align-items: center;
    color: #ffffff;
    display: flex;
    padding: 8px;
}

.iconFooter{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: bottom;
    font-size: 35px;
   
}

.infoIcon{
    width: 35px;
}



.textContato{
    margin: 0 0 0 8px;
}

.colorTextContato{
    display: block;
    color: #ffffff;
}


.contatoItem{
    display: flex;
    flex-direction: row;
}

.msgRodape{
    background-color: #18ACC4;
    display: flex;
    justify-content: center;
    color: #ffffff;
    padding: 35px;
}